.slide-intro {
    width: 100%;
    height: 100vh;

    //★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
    img {
      filter: brightness(80%);
    }
}


.video_wrap {
  clip-path:  inset(0%);
  pointer-events: none;
  position: relative;
	height: 0;
	padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.btm-section {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}